.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    .type {
        font-size: 1.3rem;
    }
    .attributes {
        font-size: 0.9rem;
    }
    .price {
        font-size: 0.8rem;
    }
    img {
        object-fit:contain;
        width: 12rem;
        height: 15rem;
    }

}