
    
    a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .type {
        font-size: 1.3rem;
    }
    .attributes {
        font-size: 0.9rem;
    }
    .price {
        font-size: 0.8rem;
    }
    img {
        object-fit:contain;
        width: 12rem;
        height: 15rem;
    }
      a:link {
        text-decoration: none;
      }
      
      a:visited {
        text-decoration: none;
      }
      
      a:hover {
        text-decoration: none;
      }
      
      a:active {
        text-decoration: none;
      }

