.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    .image {
       width: 65%;
       margin: auto;
    }
    .details{
        width: 35%;
        margin: auto;
        .title {
            font-size: 2rem;
            font-weight: 600;
        }
        .price {
            margin-top: 0.8rem;
            margin-bottom: 1rem;
            font-size: 1.6rem;
        }
        .averageRating  {
            span {
            font-size: 0.9rem;
            color: gray
            }
        }
        .addCartButtons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 5rem;
            padding-top: 1rem;
                button {
            width: 80%;
            background-color: white;
            color:black;
            border: 1px solid black;
            font-size: 1rem;
            font-weight: 600;
             }   
    }

    }
    .moreDetails {
        padding:1.4rem 0;
    }
    .productsBanner {
        padding: 2rem 0;
        width: 100%;
    }
   
    
    
}

::ng-deep {
    
    .image {
        width: 100%;
        margin: auto;
    } 
    .quantity .pi {
        font-size: 0.7rem;
    }
    .p-rating {
        gap: 0.2rem;
        }
        .p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
            color: black;
        }
        .p-rating .p-rating-item .p-rating-icon{
            color:black;
        
        }
    .p-input-number-horizontal {
       width: 20%;
    }
    .p-button.p-button-secondary {
        width: 2rem;
    }
    .p-button {
        background-color: white;
        color: black;
    }
   
    .container .p-inputtext{
        width: 2rem;
        border: none;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        height: 4rem;
        padding: 5px;
        text-align: center;
        color: black;
    }
    .p-inputnumber  
    .p-inputnumber-input{ 
    box-shadow: none;
    }

    .p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-down{
        border-radius: 0;
        border: none;
        border-left: 1px solid black;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
    .p-inputnumber-buttons-horizontal .p-button.p-inputnumber-button-up {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;
    }
    .p-image-preview-indicator {
        opacity: 0.04;

    }


    .p-fieldset {
        border: none;
        color: black;
        border-bottom: 1px solid gray;

    }
    .p-fieldset-content {
        padding: 1rem;
    }
    .p-fieldset-toggleable {
        padding: 0;
    }
    .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {
        padding: 0.7rem;
        padding-left: 0;
        background-color: white;
        color: black;
        font-size: 1.1rem;
    }

    .p-fieldset-legend {
        border: none;
       font-size: 0.8rem;
       font-weight: 500;
    }
}


// @media screen and (min-width: 900px) {

// screen for macbook
// .addCartButtons{
//         button {
//             width: 70%;
//         } 
//     }
// }