header {
    height: 3rem;
    background-color: #40916c;
    display: flex;
    width: 100%;
    .logo {
        width: 25%;
        a {
            display: flex;
        }
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 25%;
        padding-right: 1rem;
        .cart {
            margin:0.2rem 0.1rem;
            // width: 10%;
            h2 {
                width: 95%;
            }
        }
        input {
            width: 90%; 
        }
        .pi.pi-search {
            padding: 0.5rem;
        }
        .pi.pi-user{
            padding: 0.5rem;
        }
        .pi.pi-shopping-bag{
            padding-left: 0.5rem;
        }
        .searchBar{
            a {
                display: flex;
                color: black;
                text-decoration: none;
                align-items: center;
                text-align: left;
            }
            .details {
                display: flex;
                flex-direction: column;
                width: 80%;
                margin-left: 1rem;
                p {
                    margin: 0;
                }
            }
            img {
                width: 20%;
            }
        }
    }
        span.pi {
            color: #d8f3dc;
        }
        span.pi:hover {
            color: white;
        }

        .sidebarContainer{
            .noProductOnCart {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 7rem 0;
            }
            .productOnCart{
                display: flex;
                width: 100%;
                min-height: 90%;
                align-items: center;
                img {
                width: 30%;
                }
                .details {
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                }
            } 
            .bottomContainer{
                position: absolute;
                bottom: 2rem;
                display: flex;
                flex-direction: column;
            }
        }

}


::ng-deep {
    header{
   
    .p-megamenu .p-submenu-header{
        display: none;
    }
    .p-megamenu-horizontal {
        display: flex;
        justify-content: space-between;
    }
    .p-megamenu {
        height: 100%;
        margin: 0;
        border: none;
        padding: 0;
        background-color: #40916c;

    }
   

    .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link {
        background-color: #40916c;
    }
    .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link:hover {
        color: white;

    }
    
    .p-megamenu .p-menuitem > .p-menuitem-content .p-menuitem-link:hover {
        background-color:#6ec49b ;
    }
    
    .p-megamenu-submenu {
        background-color: #52b788;
    }
    

    .p-megamenu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text {
        color: #d8f3dc;
    }
    .p-megamenu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-text:hover {
        color: white;
    }
    .p-megamenu.p-megamenu-horizontal .p-megamenu-root-list > .p-menuitem > .p-menuitem-content .p-menuitem-link .p-submenu-icon {
        color: #d8f3dc;
    }

    .p-megamenu-col-12 {
        padding: 0;
    }
    
     .p-submenu {
        display: none;
      }
      
     .p-menuitem.expanded .p-submenu {
        display: block;
      }

      .p-badge  {
        min-width: 1rem;
        height: 1rem;
        line-height: 1rem;
        font-size: 0.6rem; 
      }
      .p-sidebar{
        color: black;
      }
       .pi-cart-minus {
        font-size: 4rem;
        color: black;
        padding-bottom: 2rem;
      }

      .p-inputtext{
        width: 2rem;
        border: none;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        height: 4rem;
        padding: 5px;
        text-align: center;
        color: black;
    }
    .p-sidebar-right {
        width: 30rem;
    }

    .p-sidebar-header{
        height: 4.5rem;
    }

    .searchBar {
        .p-inputtext {
            height: 3rem;
            border: none;
            text-align: left;
        }
        .p-inputtext:enabled:focus{
            box-shadow: none;
        }
    }

  }
}
     




