<div class="container">
    <div class="customerSupport">
        <span class="pi pi-phone"></span>
       <span class="textContainer">
        <h1>Customer Support</h1>
        <p>No Bots. No AI. Always People Powered</p>
       </span>
    </div>
    <div class="availableProducts">
        <i class="pi pi-check-circle"></i>
        <span class="textContainer">
            <h1>Availability</h1>
            <p>All time stock on products</p>
        </span>
    </div>
    <div class="transportanion">
        <i class="pi pi-truck"></i>
        <span class="textContainer">
            <h1>Shipping</h1>
            <p>1-3 days anywhere in Greece</p>
        </span>
    </div>
    <div class="payment">
        <i class="pi pi-credit-card"></i>
        <span class="textContainer">
            <h1>Payment</h1>
            <p>All payment methods available</p>
        </span>
    </div>
</div>


